doctype html

html(lang="en" ng-app="meterQuest")

  head
    title= "meterQuest"
    meta(charset="utf-8")
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    block head

  body
    div(rp-nav-bar)
    h1 Hello World

    script(src="angular/angular.js")
    script(src="scripts/angular-views.min.js")
    script(src="scripts/all.js")
    script(src="angular-bootstrap/ui-bootstrap-tpls.min.js")
    script(src="angular-bootstrap/ui-bootstrap.min.js")
