doctype html

html(lang="en" ng-app="meterQuest")

  head
    title= "meterQuest"
    meta(charset="utf-8")
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Montserrat')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    block head

  header
    h1 MeterQuest!
    h4 Save Seattle...one parking spot at a time

  body
    div(rp-nav-bar)
    div(ng-controller="CreateModalCtrl")
        script(type="text/ng-template", id="markOpenModal.html")
            div(modal-header)
            h3(modal-title) Report open parking space
                div(modal-body)
                    button(class="btn btn-primary" ng-click="openSpot()") Spot open
                    button(class="btn btn-primary" ng-click="cancel()") Cancel
        button(class="btn btn-default" ng-click="open()") Add open spot

    div(ng-controller="UpdateModalCtrl")
        script(type="text/ng-template", id="editModal.html")
            div(modal-header)
            h3(modal-title) Confirm or change status of parking spot
                div(modal-body)
                    button(class="btn btn-primary" ng-click="parkInSpot()") Park in spot
                    button(class="btn btn-primary" ng-click="confirmOpenSpot()") Confirm open
                    button(class="btn btn-primary" ng-click="fullSpot()") Spot now filled
                    button(class="btn btn-primary" ng-click="cancel()") Cancel
        button(class="btn btn-default" ng-click="open()") Edit spot

    meter-quest-map


    footer
      p Copyright 2015 or whatever
      p <a href="https://github.com/cromero/parkapp" id="gitlink">MeterQuest on GitHub</a>

    script(src='jquery/dist/jquery.js')
    script(src='angular/angular.js')
    script(src='scripts/angular-views.min.js')
    script(src='angular-bootstrap/ui-bootstrap.min.js')
    script(src='angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
    script(src='http://js.arcgis.com/3.13/')
    script(src='scripts/all.js')
