doctype html

html(lang="en" ng-app="meterQuest")

  head
    title= "meterQuest"

    meta(charset="utf-8")
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Bangers')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato:400,700')
    link(rel='stylesheet', href='/angular-ui-notification/dist/angular-ui-notification.min.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/main.css')

  body

    header
      div.title-wrapper
        h1
          span.header-meter Meter
          span.header-quest Quest
        h4 Save Seattle...
          span.header-park one parking spot at a time
          
    div.map-container
      meter-quest-map

    div.gradient-key
      img(src="/images/gradient-key.jpg")

    div.user-container(ng-controller="userCtrl")
      h5
        span Welcome {{ currentUser.name }}! You currently have {{ currentUser.points }} points
      div
        span(ng-repeat="badge in currentUser.badges" style="float: left")
          h6 {{ badge.name }}
          img(src="{{ badge.url }}" title="{{ badge.alt }}")
      button.btn.btn-primary(ng-click="toggleUser()") Log out


    script(type="text/ng-template", id="parkingSpotModal.html")
      div.modal-header

        h3 Found a Spot near&nbsp;
            reverse-geocode(lat="{{location.lat}}" lon="{{location.lon}}")

      div.modal-body
        button.btn.btn-primary(ng-click="openSpot()") Mark It
        button.btn(ng-click="cancel()") Cancel

    script(type="text/ng-template", id="noParkingFoundModal.html")
      div.modal-header
        h3 No Parking Found!

      div.modal-body You selected a spot where parking is either
        span.mod-body  restricted or not allowed

    script(type="text/ng-template", id="updateParkingSpotModal.html")
      div.modal-header
        h3 Found a Spot!

      div.modal-body
        div.rate-desc(ng-if="location.rate != null")
          span Rate: 
          span.rate-amount ${{location.rate}}/hour

        button.btn.btn-primary(ng-click="parkInSpot()") Park Here
        button.btn.btn-primary(ng-click="fullSpot()") Spot is Full
        button.btn(ng-click="cancel()") Cancel

    script(src='jquery/dist/jquery.js')
    script(src='angular/angular.js')
    script(src='scripts/angular-views.min.js')
    script(src='angular-bootstrap/ui-bootstrap.min.js')
    script(src='angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='angular-ui-notification/dist/angular-ui-notification.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
    script(src='http://js.arcgis.com/3.13/')
    script(src='scripts/all.js')
