doctype html

html(lang="en" ng-app="meterQuest")

  head
    title= "meterQuest"

    meta(charset="utf-8")
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Bangers')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato:400,700')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/main.css')

  body

    header
      div.title-wrapper
        h1
          span.header-meter Meter
          span.header-quest Quest
        h4 Save Seattle... 
          span.header-park one parking spot at a time
    div.map-container
      meter-quest-map

    div.user-container(ng-controller="userCtrl")
      user-scoreboard

    script(type="text/ng-template", id="parkingSpotModal.html")
      div.modal-header
        h3 Found a Spot near&nbsp;
            reverse-geocode(lat="{{location.lat}}" lon="{{location.lon}}")
            span ?

      div.modal-body
        button.btn.btn-primary(ng-click="openSpot()") Mark It
        button.btn(ng-click="cancel()") Nevermind

    script(type="text/ng-template", id="noParkingFoundModal.html")
      div.modal-header
        h3 No Parking Found!

      div.modal-body You selected a spot where parking is either&nbsp;
        strong restricted or not allowed

    script(type="text/ng-template", id="updateParkingSpotModal.html")
      div.modal-header
        h3 Found a Spot!

      div.modal-body
        button.btn.btn-primary(ng-click="parkInSpot()") Park Here
        button.btn.btn-primary(ng-click="fullSpot()") Spot is Full
        button.btn(ng-click="cancel()") Nevermind

    script(src='jquery/dist/jquery.js')
    script(src='angular/angular.js')
    script(src='scripts/angular-views.min.js')
    script(src='angular-bootstrap/ui-bootstrap.min.js')
    script(src='angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
    script(src='http://js.arcgis.com/3.13/')
    script(src='scripts/all.js')
