.btn-default {
  background-color: #39AB22;
  color: #fff;
  margin-left: 2%;
  border: solid #fff 1px;
  display: block;
}

.btn-default#edit {
  background-color: #428bca;
}

/*#gitlink {
  color: red;
}*/


html, body
{
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

header
{
  background: #111;
  border: 0;
  height: 140px;
  margin: 0;
  padding: 5px 0 0 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  color: #eee;
}

header .title-wrapper
{
  /*background: url(../images/parky_tilted.png) no-repeat 0 -50%;*/
  height: 100%;
  margin: 0 auto;
  padding: 1px 0 0 0;
  text-align: center;
  transition: 0.1s background-position;
  max-width: 550px;
  width: 100%;
  color: #39AB22;
}

header h1
{
  font-size: 5em;
  text-shadow: 1px 1px 1px #fff;
  font-family: 'Bangers', sans-serif;
  margin: 3% 0 0%;
}

header h4 {
  color: #39AB22;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

header:hover h1
{
  background: url(../images/parky_tilted.png) no-repeat 0 -10%;
}

header h1 .header-quest
{
  color: #fff;
  text-shadow: 1px 1px 1px #39AB22;
}

header h4 .header-park
{
  color: #fff;
  font-weight: normal;
}

@media (max-width: 500px) {
  header h1
  {
    background: none;
  }
}

.map-container
{
  height: 100%;
}

#map
{
  height: 100%;
  width: 100%;
}

.modal-header
{
  border: 0;
}

.modal-header h3
{
  color: #333;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

.modal-body
{
  text-align: center;
  padding: 2em 0;
}

.modal-body button.btn
{
  font-size: 2em;
  margin: 0 10px;
  padding-left: 20px;
  padding-right: 20px;
}